{
  "plugins": [
    "transform-es2015-modules-commonjs",
    [
      "module-resolver",
      {
        "alias": {
          "bordering-countries-with-greatest-ratio-in-gdp-per-capita": "./src",
        }
      }
    ]
  ]
}
